
CompileFlags:
  Add:
    - -xc
    - -std=c99
    - -D__data=
    - -D__xdata=
    - -D__code=
    - -D__reentrant=
    - -D__interrupt(...)=
    - -D__at(...)=
    - -D__sfr=volatile unsigned char
    - -D__sbit=volatile unsigned char
    - -I/usr/local/share/sdcc/include
    - -I/usr/local/share/sdcc/include/mcs51